GITHUB_TOKEN='Github token to access repo'

GOOGLE_SHEET_ID='A configured google sheet ID of coice'
GOOGLE_SHEET_TAB_NAME='Input' 

GOOGLE_SERVICE_ACCOUNT_KEY_PATH=Path to google service account

# Example url: postgresql://docker-user:dockeruser@localhost:5432/docker-experiment-db
POSTGRES_URL='postgresql://docker-user:dockeruser@localhost:5432/docker-experiment-db'
